






.image{
    width: 300px;
    height: 300px;
    aspect-ratio: 3/2;

    object-fit: contain;

}

.offer-data{
    top: 50%;
    right:30%;

}
.offer-heading{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(49, 49, 49);
}
.offer-para{
    font-size: 1rem;
    color: rgb(129, 127, 127);
}
.hero-btn{
    border: 2px solid gray;
    border-radius: 1rem;
    background: rgb(2, 152, 72);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.4rem;

}



  .innerpart{
    display: flex;
    justify-content: flex-end;
    border: none;
    margin: 10rem auto;
    background: #deb631;
    border-radius: 20px;
    box-shadow: -5px 5px 20px ;
    width: 80%;
    height: 70%;
     }
    
     .innerpart .cName{
        width: 397px;
        height: 135.22px;
        font-family: 'Syne';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 100px;
        text-transform: capitalize;
        margin: 10px;
        color: #FFFFFF;
         }
         .registerimg{
            top: 40%;
            left: 5%;
            width: 20rem;
         }

         .img3d{
            top: 22%; 
            left: 35.5%;
            height: 40rem;
            -webkit-filter: drop-shadow(-2px 2px 5px #222);
            filter: drop-shadow(-2px 2px 5px #222);
            
             }

             .rightpart{
                
                display: flex; 
             width: 55%;
             background: #FFFFFF;
             border-radius: 40px 20px 20px 40px;
             flex-direction: column;
             align-items: center;
             justify-content: flex-start;
              }

              .all-inputs{
                display: flex;
             flex-direction: column;
             align-items: center;
             width: 100%;
             }

             .rightpart .create-account{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius:20px;
                width: 30rem;
                font-size: 3rem;
                margin: 2rem 0;
             }
             
             .rightpart .inputField{
                display: flex;
             width: 380px;
             height: 40px;
             border-radius: 10px;
             position: relative;
             margin: 3rem;
             font-size: 1rem;
             box-shadow: 2px 2px 3px gray;
              }
              .inputs{
                position: absolute;
                bottom: 1.2rem;
                left: 1rem;
                padding:0 0.5rem;
                background: white;
                border: none;
                }


    .or-btn{
        margin: 5px;
        font-size: 1.2rem;
        position: relative;
     
     }
   
     .acc-btn{
        width: 12rem;
        background-color: rgb(104, 165, 104);
        margin: 5px auto ;
        height: 3.5rem;
        font-size: 1.3rem;
        border: 1px solid gray;
        color: white;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 3px gray;
        cursor: pointer;
        position:absolute;
        top: -4rem;
        left:5rem;
        
     }
  
   .or-btn .line{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:gray;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
 }
 .line div{
    background-color: gray;
    opacity: 0.7;
    height: 1px;
    width: 8rem;
    margin: 1rem 1rem 0rem 1rem;
 }
 
 .google{
    display: flex;
    right:10rem;
    border: 1px solid gray;
    width: 15rem;
    height: 2rem;
    align-items: center;
    font-size: 1rem;
    padding: 1.2rem;
    justify-content: flex-end;
 }
 .google img{
    position: relative;
    top: 0;
    left: -5px;
    width: 35px;
    height: 35px;
    box-shadow: none;
 
 }

 @media (max-width:1000px) {
   .offer-para{
      font-size: 0.7rem;
      color: rgb(129, 127, 127);
  }

   .offer-data{
      top: 68%;
      right:40%;
      font-size: 1rem; 
  }


    .register{
        border: 1px solid red;
        width: 100%;
        overflow: hidden;
    }
    .innerpart{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        border: none;
        margin: 5rem auto;
        border-radius: 20px;
         }
         .img3d{
            display: flex;
            top: 60%;
            left: 10%;
            position: absolute;
            height: 10rem;
        
             }

             .innerpart .cName{
                font-family: 'Syne';
                font-style: normal;
                font-weight: 800;
                font-size: 30px;
                line-height: 100px;
                text-transform: capitalize;
                margin: 10px;
                color: #FFFFFF;
                 }

                 .rightpart{
                
                    display: flex; 
                 width: 80%;
                 background: #FFFFFF;
                 border-radius: 40px 20px 20px 40px;
                 flex-direction: column;
                 align-items: center;
                 justify-content: flex-start;
                  }

                  .rightpart .create-account{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius:20px;
                    width: 30rem;
                    font-size: 2rem;
                    margin: 2rem 0;
                 }
                 

                 .rightpart .inputField{
                    display: flex;
                 width: 250px;
                 height: 30px;
                 border-radius: 10px;
                 position:relative;
                 margin: 2rem;
                 font-size: .7rem;
                 box-shadow: 2px 2px 3px gray;
                  }
                  .inputs{
                    position: absolute;
                    bottom: 1rem;
                    left: 0.7rem;
                    padding:0 0.5rem;
                    background: white;
                    border: none;
                    }

                    .or-btn{
                        margin: 2px;
                        font-size: 1rem;
                        position: relative;
                     
                     }
                   
                     .acc-btn{
                        width: 9rem;
                        background-color: rgb(104, 165, 104);
                        margin: 5px auto ;
                        height: 2rem;
                        font-size: 1rem;
                        border: 1px solid gray;
                        color: white;
                        text-align: center;
                        border-radius: 10px;
                        box-shadow: 2px 2px 3px gray;
                        cursor: pointer;
                        position:absolute;
                        top: -3rem;
                        left:6.4rem;
                        
                     }

                     .or-btn .line{
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        color:gray;
                        font-size: 0.6rem;
                        display: flex;
                        flex-direction: row;
                     }
                     .line div{
                        background-color: gray;
                        opacity: 0.7;
                        height: 1px;
                        width: 8rem;
                        margin: 1rem 1rem 0rem 1rem;
                     }
                     
                     .already{
                        font-size: 0.7rem;
                        position: absolute;
                        left: 2rem;
                     }
                     .registerimg{
                        display: none;
                     }
 }

.details{
   margin-top: 10rem;
   border:2px solid #222;
   height: 80vh;
}

.details img{
   width: 300px;
   height: 300px;

}